body {
    font-family: "Arial Black", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("fondo4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  header {
    display: flex;
    height: 102px;
    background-color: rgba(255, 0, 0, 0);
    color: #fff;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: Arial Black, sans-serif;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(111, 0, 255, 0.7);
    overflow: hidden;
    display: flex;
    align-items: center; /* Alinear verticalmente los elementos del menú */
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav li.separator {
    color: white;
  }
  
  nav li.ubicacion {
    color: white;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  nav #combobox-li {
    margin-right: 0;
    margin-left: 890px; /* Eliminar el margen derecho para el elemento con el combobox */
  }
  
  nav select {
    display: block;
    padding: 2px;
    font-size: 18px;
    border: 0px solid #ccc;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    font-family: "Arial Black", sans-serif;
    text-align: center;
    border: 2px solid #ffffff;
    transition: background-color 0.1s ease, color 0.1s ease;
    margin-left: 50%;
  }
  
  /* Estilo para las opciones del menú desplegable */
  nav select option {
    color: #ffffff;
    font-size: 20px;
    background-color: #5271ff;
  }
  
  nav select:hover {
    background-color: #e73ccb; /* Cambia el color de fondo cuando el ratón está sobre la opción */
    color: #ffffff; /* Cambia el color del texto cuando el ratón está sobre la opción */
  }
  
  nav .clock {
    color: white;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    border-left: 3px solid white;
    padding: 3px 10px;
    font-weight: 900;
    margin-left: 90px;
  }
  
  .primer-contenedor {
    float: left;
    width: 495px;
    height: 750px;
    border: 0px solid red;
    padding: 20px;
  }
  
  /* Remueve las reglas relacionadas con la tabla y ajusta el estilo del fieldset */
  .forma-azul {
    background-color: #5271ff;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    width: 480px;
    height: 730px;
  }
  
  .forma-azul h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
    margin-left: 120px;
  }
  
  /* Estilo del fieldset */
  .forma-azul fieldset {
    border: 2px solid rgba(111, 0, 255, 0.7);
    border-radius: 30px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en línea de izquierda a derecha */
    align-items: center; /* Centra los elementos verticalmente */
    background-color: rgba(111, 0, 255, 0.9);
    height: 45px;
  }
  
  /* Estilo del legend dentro del fieldset */
  .forma-azul fieldset legend {
    background-color: #2980b9;
    color: #fff;
    padding: 6px;
    text-align: center;
    font-size: 14px;
  }
  
  /* Estilo del contenido dentro del fieldset */
  .forma-azul fieldset p {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    padding: 6px;
    text-align: center;
  }
  
  /* Estilo del botón dentro del fieldset */
  .forma-azul fieldset button {
    background-color: #e73ccb;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .forma-azul fieldset button:hover {
    background-color: #9e27ae;
    transition: 0.3s ease;
    transform: scale(1.1);
  }
  
  .segundo-contenedor {
    float: right;
    width: 1300px;
    height: 600px;
    border: 0px solid red;
    display: flex;
  }
  
  .forma-azul-2 {
    background-color: #5271ff;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    margin: 20px;
    width: 1215px;
    height: 530px;
  }
  
  .segundo-contenedor fieldset {
    background-color: rgba(111, 0, 255, 0.7); /* Color de fondo blanco */
    border: 2px solid rgba(111, 0, 255, 0.7); /* Borde con color morado */
    border-radius: 20px; /* Borde redondeado */
    padding: 10px; /* Espaciado interno */
    margin-right: 20px; /* Espaciado a la derecha entre los fieldsets */
    float: left; /* (Opcional) Mantén el float para asegurar la compatibilidad con navegadores antiguos */
  }
  
  .segundo-contenedor .fieldset-clasificacion {
    width: 700px;
    height: 500px;
  }
  
  .segundo-contenedor .fieldset-clasificacion td:first-child {
    width: 8%;
    background-color: #ffffff; /* Color de fondo para la columna dorsal */
    color: #9b0ea0; /* Color del texto para la columna dorsal */
    border-radius: 50px;
  }
  
  .segundo-contenedor .fieldset-clasificacion td:last-child {
    width: 92%; /* Ancho para la segunda columna (barra de progreso) */
    background-color: #541f5c; /* Color de fondo para la columna de progreso */
    border-radius: 30px;
  }
  
  .segundo-contenedor .fieldset-clasificacion table {
    width: 700px;
    height: 470px;
    border: 2px solid rgba(255, 0, 0, 0);
    border-spacing: 0 10px;
    margin-top: -10px;
  }
  
  /* Estilo para las celdas de la tabla en fieldset-clasificación */
  .segundo-contenedor .fieldset-clasificacion td {
    padding: 10px;
    text-align: center;
  }
  
  /* Estilo para la barra de progreso en fieldset-clasificación */
  .segundo-contenedor .fieldset-clasificacion .progreso {
    width: 100%;
    background-color: #6d197a;
    border-radius: 10px;
    height: 20px;
  }
  
  /* Estilo para la barra de progreso en fieldset-clasificación */
  .segundo-contenedor .fieldset-clasificacion .progreso span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background-color: #e73ccb;
  }
  
  .segundo-contenedor .fieldset-apuestas {
    width: 423px;
    height: 500px;
  }
  
  /* Ajusta el estilo del legend dentro del fieldset */
  .segundo-contenedor fieldset legend {
    color: #fff;
    padding: 6px;
    text-align: center;
    font-size: 24px;
  }
  
  .segundo-contenedor .fieldset-apuestas fieldset {
    width: 90%;
    height: 22px;
    margin: 5px; /* Eliminar márgenes */
    border: 2px solid rgba(84, 31, 92, 0.8);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(84, 31, 92, 0.8);
  }
  
  /* Ajusta el estilo del contenido dentro del fieldset-apuestas */
  .segundo-contenedor .fieldset-apuestas p {
    margin: 0;
    padding: 6px;
    text-align: center;
  }
  
  .tercer-contenedor {
    float: right;
    width: 1300px;
    height: 188px;
    border: 0px solid red;
  }
  
  .forma-azul-3 {
    background-color: #5271ff;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    margin: 20px;
    width: 1215px;
    height: 150px;
    margin-top: -2px;
  }
  
  .tercer-contenedor .fieldset-dinero {
    background-color: rgba(111, 0, 255, 0.7); /* Color de fondo blanco */
    border: 2px solid rgba(111, 0, 255, 0.7); /* Borde con color morado */
    border-radius: 20px; /* Borde redondeado */
    padding: 10px; /* Espaciado interno */
  }
  
  .tercer-contenedor .fieldset-dinero {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 125px;
    align-items: center;
  }
  
  .tercer-contenedor .invisible-fieldset {
    background-color: rgba(255, 0, 0, 0); /* Color de fondo blanco */
    border: rgba(255, 0, 0, 0); /* Borde con color morado */
    padding: 5px; /* Espaciado interno */
  }
  
  .tercer-contenedor .invisible-fieldset {
    width: 350px;
    height: 120px;
    align-items: center;
  }
  
  .tercer-contenedor .fieldset-dinero .invisible-fieldset p {
    margin: 10px;
    padding: 6px;
    text-align: center;
    background-color: rgba(84, 31, 92, 0.8); /* Color de fondo azul */
    border-radius: 30px; /* Bordes redondos */
    margin-bottom: 10px; /* Agrega un espacio inferior entre los elementos */
    color: rgba(255, 255, 255, 0.5); /* Color del texto */
    width: 300px;
    height: 35px;
  }
  
  .tercer-contenedor .fieldset-ingresaretirar {
    background-color: rgba(255, 0, 0, 0); /* Color de fondo blanco */
    border: rgba(253, 0, 0, 0); /* Borde con color morado */
    padding: 5px; /* Espaciado interno */
  }
  
  .tercer-contenedor .fieldset-ingresaretirar {
    display: flex;
    justify-content: space-between;
    width: 650px;
    height: 120px;
    align-items: center;
    margin-right: 100px;
  }
  
  .boton-dinero {
    background-color: #38b6ff; /* Fondo azul */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer;
    border-radius: 40px; /* Bordes redondos */
    width: 200px;
    height: 100px;
    margin: 10px;
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
    font-family: "Arial Black", sans-serif;
    font-size: 15px;
  }

  .boton-dinero:hover{
    transition: 0.3s ease;
    transform: scale(1.1);
  }
  
 /* Estilo del Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); /* Opacidad más oscura para mayor contraste */
}

/* Contenido del Modal */
.modal-content {
  background-color: rgba(111, 0, 255, 0.9); /* Usando el color de tu tema */
  margin: 10% auto; /* Ajustado para un mejor centrado */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px; /* Bordes redondeados */
  width: 40%; /* Reducción del ancho del modal */
  color: white; /* Texto en blanco para contraste */
}

/* El botón de cerrar (x) */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para las estadísticas de los galgos dentro del modal */
#estadisticasGalgos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.estadisticas-galgo {
  background-color: #e73ccb; /* Color de fondo acorde al tema */
  border: 1px solid #750080; /* Borde blanco para destacar */
  margin: 5px; /* Margen reducido */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
  color: white; /* Texto blanco para legibilidad */
  width: 400px; /* Ajuste para que ocupe todo el ancho disponible dentro del modal */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para profundidad */
  margin-left: 150px;
}

/* Estilo base para los botones */
.boton-estandar {
  background-color: #e73ccb; /* Color de fondo */
  color: #fff; /* Color de texto */
  border: none; /* Sin borde */
  padding: 8px 20px; /* Espaciado interno */
  cursor: pointer; /* Cursor tipo puntero */
  border-radius: 20px; /* Bordes redondeados */
  transition: 0.3s ease-in-out; /* Transición suave para efectos hover */
  font-family: "Arial Black", sans-serif; /* Tipo de letra */
  font-size: 16px; /* Tamaño de letra */
  margin: 10px; /* Margen alrededor del botón */
}

/* Efecto hover para los botones */
.boton-estandar:hover {
  background-color: #9e27ae; /* Color de fondo al pasar el cursor */
  transform: scale(1.1); /* Efecto de crecimiento */
  transition: 0.3s ease; /* Transición suave */
}

#btnVerEstadisticas {
  margin-top: 5px;
  margin-left: 125px;
}

#btnIniciarCarrera {
  margin-left: 253px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.primer-contenedor p, .segundo-contenedor p {
  color: #fff; /* Asegurar que el texto sea blanco para contraste */
}

.primer-contenedor p[id^="numero"]{
  width: 40px; /* Tamaño fijo */
    height: 35px; /* Tamaño fijo */
    line-height: 40px; /* Alineación vertical del texto */
    border-radius: 44%; /* Hacerlo circular */
    display: inline-flex; /* Usar flex para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente el texto */
    align-items: center; /* Centrar verticalmente el texto */
    color: white; /* Texto en blanco para contraste */
    font-weight: bold; /* Opcional: Hacer el texto más grueso */
    background-color: #541f5c; /* Color de fondo como en la tabla de clasificación */
    border: 2px solid white; /* Borde blanco para destacar */
}
.segundo-contenedor p[id^="numero"] {
    width: 35px; /* Tamaño fijo */
    height: 25px; /* Tamaño fijo */
    line-height: 40px; /* Alineación vertical del texto */
    border-radius: 44%; /* Hacerlo circular */
    display: inline-flex; /* Usar flex para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente el texto */
    align-items: center; /* Centrar verticalmente el texto */
    color: white; /* Texto en blanco para contraste */
    font-weight: bold; /* Opcional: Hacer el texto más grueso */
    background-color: #541f5c; /* Color de fondo como en la tabla de clasificación */
    border: 2px solid white; /* Borde blanco para destacar */
}

.segundo-contenedor .fieldset-clasificacion td[id^="posicion"] {
  width: 35px; /* Tamaño fijo */
  height: 22px;  /* Tamaño fijo */
  line-height: 40px; /* Alineación vertical del texto */
  border-radius: 44%; /* Hacerlo circular */
  display: inline-flex; /* Usar flex para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente el texto */
  align-items: center; /* Centrar verticalmente el texto */
  font-weight: bold; /* Opcional: Hacer el texto más grueso */
  text-align: center; /* Asegura que el texto esté centrado */
  margin: auto; /* Centrar dentro de la celda */
  border: 2px solid white; 
  color: white;
}


